---
import { type Profile } from "./members.ts"
export interface Props {
  profile: Profile
}
const { profile } = Astro.props
---
<div class="card w-60 bg-base-100 shadow-xl member">
  <figure class="px-10 pt-10">
    <img src={profile.icon} alt={profile.name} class="rounded-full w-12 h-12" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{profile.name}</h2>
    <p>{profile.descs.ja}</p>
    <div class="flex card-actions">
      {
        profile.links.map(link => {
          return <div>
            <a href={link.url} class="profile-link">
              <img src={link.icon} alt={link.name} class="w-6 h-6 mx-0.5" />
            </a>
          </div>
        })
      }
    </div>
  </div>
</div>

<style>
  .member{
    
  }
</style>